body {
  padding: 0 40px;
  background-color: #f0f0f0;
  color: #666;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 40px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 800px;
}

#page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Maps Style */
#location-map, #origin-map {
  width: 100%;
  height: calc(100vh - 100px);
}
/* ...Maps Style */


/* Cards Style */
#cards-container, #photos-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 100px;
  height: 100px;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: #FFF;
  overflow: hidden;
}
.card img {
  width: 100%;
  max-height: 100%;
}

.card.animal {
  padding: 10px;
}
.card.animal:hover {
  opacity: 0.6;
}
.card.food:hover {
  opacity: 0.5;
}

.card.person {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 8px solid rgb(151, 211, 217, 0.75);
}
.card.person.mismatched {
  border-color: rgba(254, 15, 0, 0.75);
}
.card.person.matched {
  border-color: rgba(0, 0, 0, 0.125);
}

/* .card.photo {
  width: 120px;
  height: 120px;
} */
/* ... Cards Style */

/* .card.flipping {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: 1s;
} */
